<footer class="mt-auto py-3 text-center">
  <small class="text-muted mb-2 d-block" data-i18n-html="footer.license_html" data-i18n-var-year="{{ site.time | date: '%Y' }}" data-i18n-var-name="{{ site.author.name }}">
    &copy; {{ site.time | date: "%Y" }} (and <i class="fas fa-code"></i> by) <strong>{{ site.author.name }}</strong>. Under the <a href="https://github.com/agarnung/agarnung.github.io/blob/main/LICENSE" target="_blank">MIT License</a>.
  </small>

  <div class="mt-2">
    {% include social.html %}
  </div>
</footer>
