<div class="row justify-content-center align-items-center p-0 m-0">
  <div class="col-md-6 text-center mt-0">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn"
          data-wow-delay=".1s" data-toggle="tooltip" title="me">
      </div>
    </div>

    <div class="text-muted wow animated slideInUp" data-wow-delay=".2s">
      <div class="container mt-4">
        <h3 class="font-weight-bold" style="margin-top: 0px">Hi! Welcome to my website</h3>
      </div>
    </div>
    
  </div>

<section class="p-4 align-items-start" class="text-muted wow animated slideInUp" data-wow-delay=".1s">
  <div class="col-lg-8 mx-auto markdown-body" style="text-align: justify; margin-top: 0px">
    <p>
      I am Alejandro, <span id="age"></span> years old. Here, you can take a look at my (personal) <a href="/projects">projects</a> (I have selected several that are available on my GitHub profile), <a href="/blog">blog</a> (where I document and share insights about computer vision, image processing, math, geometry and engineering, among other topics), <a href="/publications">publications</a> (a mix of informal, formal, and quasi-formal documents I find valuable for anyone interested in my fields), and, if you'd like to know more about me, <a href="/about">additional information</a>.
    </p>

	<div class="d-flex justify-content-center align-items-center">
		<span class="mr-2" style="margin-top: 1.1rem;">Free time?, </span>
		{% include elements/dropdown.html
			 id="playGameDropdown"
			 label="play a game!"
			 menu_class="dropdown dropup"
			 source=site.data.games-dropdown-items
		%}
	</div>

  </div>
</section>

</div>

<div id="scroll-container">
  <div id="scroll-text">
    &lt;div&gt; 🚀 {{ site.description }} 🚀 &lt;/div&gt;
  </div>
</div>

<script src="{{ '/assets/js/age-calculator.js' | relative_url }}"></script>
