<!-- Group posts by date -->
{%- assign posts_by_date = {} -%}
{%- for post in site.posts -%}
  {%- assign post_date = post.date | date: "%Y-%m" -%}  <!-- Group by year and month -->
  {%- if posts_by_date[post_date] == nil -%}
    {%- assign posts_by_date[post_date] = "" -%}
  {%- endif -%}
  {%- assign posts_by_date[post_date] = posts_by_date[post_date] | append: post.url | append: "|" -%}
{%- endfor -%}

<!-- Create a dropdown list by date -->
{% for date, posts in posts_by_date %}
  <div class="py-3">
    <h4 id="{{ date }}">{{ date }}</h4>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#posts-{{ date }}" aria-expanded="false" aria-controls="posts-{{ date }}">
      Ver posts
    </button>
    <div class="collapse" id="posts-{{ date }}">
      <ol>
        {% assign post_urls = posts | split: '|' %}
        {% for post_url in post_urls %}
          {%- assign post = site.posts | where: "url", post_url | first -%}
          <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
          <small class="text-muted"> - {{ post.date | date_to_long_string }}</small>
          <br/>
        {% endfor %}
      </ol>
    </div>
  </div>
  <hr class="bg-light">
{% endfor %}
