{%- assign posts_by_date = site.posts | group_by_exp: "post", "post.date | date: '%Y-%m'" -%}

<!-- Create a dropdown list by date -->
{% for group in posts_by_date %}
  <div class="py-0"> 
    <h4 class="date-item">
      <a href="javascript:void(0)" class="date-toggle" data-toggle="collapse" data-target="#posts-{{ group.name }}" aria-expanded="false" aria-controls="posts-{{ group.name }}">
        {{ group.name }}
      </a>
    </h4>
    <div class="collapse" id="posts-{{ group.name }}">
      <ol>
        {% for post in group.items %}
          <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
          <small class="text-muted"> - {{ post.date | date_to_long_string }}</small>
          <br/>
        {% endfor %}
      </ol>
    </div>
  </div>
  <hr>
{% endfor %}
