{%- comment -%} Default Styles {%- endcomment -%}
{%- assign card_style  = '' -%}
{%- assign text_style  = 'text-themed' -%}
{%- assign badge_style = 'badge-dark' -%}

{%- comment -%} Update Styles {%- endcomment -%}
{%- if post.style == 'fill' -%}
  {%- assign card_style = post.color | prepend: 'bg-' -%}
  {%- if post.color != 'light' -%}
    {%- assign text_style  = 'text-white' -%}
    {%- assign badge_style = 'badge-light text-' -%}
    {%- assign badge_style = badge_style | append: post.color -%}
  {%- endif -%}
{%- else -%}
  {%- assign card_style = post.color | prepend: 'border border-' -%}
  {%- if post.color -%}
    {%- assign badge_style =  post.color | prepend: 'badge-' -%}
  {%- endif -%}
{%- endif -%}

{%- comment -%} Determine Post URL {%- endcomment -%}
{%- if post.external_url -%}
  {%- assign post_url = post.external_url -%}
{%- else -%}
  {%- assign post_url = post.url | relative_url -%}
{%- endif -%}

{%- comment -%} Optional card image: local path or absolute URL (reset each loop) {%- endcomment -%}
{%- assign post_image = '' -%}
{%- assign post_image_url = '' -%}
{%- if post.image and post.image != '' -%}
  {%- assign post_image = post.image -%}
{%- elsif post.thumbnail and post.thumbnail != '' -%}
  {%- assign post_image = post.thumbnail -%}
{%- endif -%}
{%- if post_image != '' -%}
  {%- if post_image contains 'http://' or post_image contains 'https://' -%}
    {%- assign post_image_url = post_image -%}
  {%- else -%}
    {%- assign post_image_url = post_image | relative_url -%}
  {%- endif -%}
{%- endif -%}

<div class="blog-post-item wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ post_url }}" class="post card {{ card_style }}{% if post_image_url != '' %} post-card--with-image{% endif %}" {%- if post.external_url and site.open_new_tab -%} target="_blank" {%- endif -%}>
    <div class="post-card-main">
      {%- if post_image_url != '' -%}
      <img class="post-card-img" src="{{ post_image_url }}" alt="{{ post.title }}" loading="lazy" />
      {%- endif -%}
      <div class="card-body {{ text_style }}">
        <h3 class="card-title"><span class="js-card-marquee">{{ post.title }}</span></h3>
        <p class="card-text post-card-tags">
          {% for tag in post.tags %}
          <span class="badge {{ badge_style }}">{{ tag }}</span>
          {% endfor %}
        </p>
        <p class="card-text post-card-desc">
          <span class="js-card-marquee">
          {%- if post.description -%}
          {{ post.description }}
          {%- else -%}
          {{ post.content | truncatewords: 25, "…" }}
          {%- endif -%}
          </span>
        </p>
      </div>
    </div>
    <div class="card-footer {{ text_style }}">
      {{ post.date | date_to_long_string }}
    </div>
  </a>
</div>
