<span class="{{ include.menu_class }}">  
  <button class="btn btn-secondary dropdown-toggle" type="button" id="{{ include.id }}" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 0.125rem 0.3rem;">
    {{ include.label }}
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="{{ include.id }}">
    {% for game in include.source %}
      <li>
        <a class="dropdown-item" href="{{ game.url }}" target="_blank">{{ game.name }}</a>
      </li>
    {% endfor %}
  </ul>
</span>
