{%- if site.contact.enabled -%}
<section id="contact" class="home-section wg-contact mt-5">
  <div class="container">
    <div class="row contact-widget">
      <div class="col-12 text-center section-heading mb-4">
        <h1>Contact</h1>
        <p>
          <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
        </p>
      </div>
      <div class="col-md-12">
        <div class="mb-3">
          <form name="contact" method="post" action="https://formspree.io/{{ site.contact.formspree_email }}">
            <div class="form-group form-inline">
              <label class="sr-only" for="inputName">Name / Subject</label>
              <input type="text" name="name" class="form-control rounded-0 w-100" id="inputName" placeholder="Name / Subject" required>
            </div>
            <div class="form-group form-inline">
              <label class="sr-only" for="inputEmail">Email</label>
              <input type="email" name="email" class="form-control rounded-0 w-100" id="inputEmail" placeholder="Email" required>
            </div>
            <div class="form-group">
              <label class="sr-only" for="inputMessage">Message</label>
              <textarea name="message" class="form-control rounded-0" id="inputMessage" rows="5" placeholder="Message" required></textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary px-3 py-2">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{%- endif -%}

